{% extends "templates/app.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-14">
            <head>Orden # {{ order.id }}</head>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h4>Enviar a </h4>
                    {{  order.address.address1 }} <br>
                    {{  order.address.address2 }} <br>
                    {{  order.address.city }} <br>
                    {{  order.address.postal_code }} <br>

                </div>
                <div class="col-md-14">
                    <h4>Productos:</h4>
                    {% for product in order.products %}
                        <a href="{{ path_for('product.get', { slug : product.slug }) }}">{{ product.title }}</a>
                        (x {{ product.pivot.quantity }}) <br>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <p>
                Envio : $ 5.0 <br>
                <strong>
                    Orden total :$ {{ order.total + 5 | number_format(2)}}
                </strong>
            </p>
        </div>

    </div>
{% endblock %}